---
import Layout from '../layouts/BaseLayout.astro';

---

<Layout title='Joshua Powell Photography' description='Joshua Powell Photography - Gallery'>
    <div class="container text-center h-75">
        <div class="row h-100 gy-5">
            <div class="col-md-6 align-self-center">
                <img class="img-fluid img-about" src="./assets/photos/about.jpg" alt="CapandCamera" />
            </div>
            <div class="col-md-6 align-self-center text-start">
                <h3 class="header-text">Joshua Powell</h3>
                <h5 class="header-text">Product Photographer</h5>

                <hr />


                <p class="about">

                    Welcome!<br/><br/>
                    My name is Josh and I’m originally from South East London, currently residing in Kent. <br/><br/>

                    My love of photography began aged 20 when I bought my first Nikon camera, gradually moving onto a Samsung GX10, Pentax K70 and currently, my Sony A7RIV. <br/>

                    <br/>
                    I specialise in product photography and astrophotography. I love creating images that show others a different perspective of the world as well as discovering new products and putting my personal spin on them.
                    I also enjoy taking photos of Urban Landscapes, Seascapes and my dog Jinx (when she lets me!)

                    <br/><br/>
                    If you have any questions about the website or my work, please feel free to get in touch!

                </p>
            </div>
        </div>
    </div>
</Layout>

