---
import json from '../assets/json/gallery.json'
---

{
    json['categories']?.map(({ name }, i) => (
        <button class={name === 'All' ? "btn-filter btn-filter-active" : "btn-filter"} data-category={name} onclick={"filter('" + name + "')"}>
            {name}
        </button>
        <span class="btn-filter btn-filter-seperator" style="padding: 10px;">|</span>
     ))
}
<br />
<br />
<div class="row gy-4 gallery">
    {
        json['gallery']?.map(({filename, caption, category }) => (
            <div class="col-md-4 gallery-container" data-category={category} data-fancybox data-src={'/assets/photos/' + filename} data-caption={caption}>
                <img src={'/assets/thumbnails/' + filename} class="img-fluid" />
            </div>
        ))
    }
</div>